/nbproject/private/
/ProyectoAS2-war/nbproject/private/
/ProyectoAS2-ejb/nbproject/private/
/ProyectoAS2-ejb/build/
/ProyectoAS2-war/build/
/build/
/ProyectoAS2-ejb/dist/
/ProyectoAS2-war/dist/
/dist/